body{
    background-color: black;
    color: white;
}

#Static{
    left: 50px;
}

#Relative{
    position: relative;
    left: 50px;
}

#Absolute{
    position: absolute;
    left: 50px;
}

#Fixed{
    position: fixed;
}